<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>

<!--  DISPLAY VARIABLE-->
3 * 4 = <%= 3*4 %>


<!-- conditional Rendering -->
 <!-- <% if(userId === 20){ %>
    <h1>user Id: <%= userId %></h1>
<% }%> -->

<!-- Loops in EJS -->
<% for(let i=1; i<=5; i++){%>
    <h1><%= i %></h1>
<% }%>
</body>
</html>